version: '3'

services:

# documentation
 mdbook:
  container_name: mdbook
  image: peaceiris/mdbook:latest
  stdin_open: true
  tty: true
  ports:
   - 3000:3000
   - 3001:3001
  volumes:
   - ${PWD}/documentation:/book
  command:
   - serve
   - --hostname
   - '0.0.0.0'

 pandoc:
  image: pandoc/core:2.13
  container_name: pandoc
  build:
   context: etc/pandoc
  volumes:
   - ./:/data
  entrypoint: ash
  command: |
   -c "
    cd /data && 
    pandoc \
     -f gfm \
     --include-in-header etc/pandoc/chapter_break.tex \
     -V linkcolor:blue \
     -V geometry:a4paper \
     -V geometry:margin=2cm \
     -V mainfont=\"DejaVu Serif\" \
     -V monofont=\"DejaVu Sans Mono\" \
     --pdf-engine=xelatex \
     -o README.pdf \
     README.md && \
    pandoc \
     -f gfm \
     --include-in-header etc/pandoc/chapter_break.tex \
     -V linkcolor:blue \
     -V geometry:a4paper \
     -V geometry:margin=2cm \
     -V mainfont=\"DejaVu Serif\" \
     -V monofont=\"DejaVu Sans Mono\" \
     --pdf-engine=xelatex \
     -o documentation/documentation.pdf \
     documentation/src/SUMMARY.md"
